.toc-content > div {
    word-break: break-word;
}

pre {
    white-space: normal;
}

.indent {
    padding-left: 4rem;
}

.login {
    padding: 1rem; // TODO -remove
}

table {
    border-collapse: collapse;
    table-layout: fixed;

    thead {
        background-color: #d6d6d6;
    }

    th {
        width: auto;
        &.last {
            width: 40%;
        }
    }

    th, td {
        padding: 0.8rem;
    }

    td {
        code {
            word-break: normal!important;
        }

        &.attributes {
            font-family: $font-family-monospace;
            word-break: normal!important;
        }
    }

    tbody tr {
        &:nth-child(even){
            background-color: #f8f8f8;
        }
        &:nth-child(odd){
            background-color: #eeeeee;
        }
    }
}

.subsection-title {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.2;
}

.section-method {
    padding: 3rem 0;

    &:not(:last-child){
        border-bottom: 1px solid #ddd;
    }

    h2 {
        // font-weight: 700;
        font-size: 2.8rem;
        margin: 0;
    }

    h4.name {
        font-family: $font-family-monospace;  
        
        .type-signature {
            color: #aaa;
        }
    }
}

.section-returns {
    dl, dl.param-type {
        width: 100%;
        margin-bottom: 1rem;
        & > dd, & > dt {
            display: inline-block;
            padding-right: 0.8rem;
            font-family: $font-family-monospace;

        }
    }
}